<#@ template language="C#" #>
<#@ output extension=".cs" #>
<#@ import namespace="System.Text" #>
<#@ include file="Generics.ttinclude" #>
namespace EntitiesDb;

<#
	for (int index = 1; index < GenericCount; index++)
	{
		var generics = FormatComma(index, "C{0}");
		var parameters = FormatComma(index, "Id<C{0}> T{0}");
#>
public readonly record struct Ids<<#= generics #>>(
	<#= parameters #>
);
<#
	}
#>