<#@ template language="C#" #>
<#@ output extension=".cs" #>
<#@ import namespace="System.Text" #>
<#@ include file="Generics.ttinclude" #>
namespace EntitiesDb;

<#
	for (int index = 1; index <= GenericCount; index++)
	{
		var generics = FormatComma(index, "T{0}");
		var parameters = FormatComma(index, "ref T{0}? t{0}Component");
#>
public interface IForEach<<#= generics #>>
{
	void ForEach(<#= parameters #>);
}
<#
	}
#>