<#@ template language="C#" #>
<#@ output extension=".cs" #>
<#@ import namespace="System.Text" #>
<#@ include file="Generics.ttinclude" #>
namespace EntitiesDb;

public partial class Query
{
<#
	for (int index = 1; index <= GenericCount; index++)
	{
        var generics = Generics(index);
#>
	public ArchetypeChunkReadIterator<<#= generics #>> ReadHandles<<#= generics #>>()
	{
		Match();
		return new(MatchingArchetypesSpan, ChangeFilter, ChangeFilter?.Version);
	}
<#
	}
#>
}